
<!--<div class="sidebar">
 {% for category in site.categories %}
     <div class="catbloc" id="{{ category | first | remove:' ' }}">
          <ul>
             {% for posts in category %}
               {% for post in posts %}
                 {% if post.url %}
                  <li>
                    <a href="{{ post.url | prepend: site.baseurl  }}">
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}

          {% for category in category.categories %}
            {% for posts in category %}
               {% for post in posts %}
                 {% if post.url %}
                  <li class="test1">
                    <a href="{{ post.url | prepend: site.baseurl  }}">              
                      {{ post.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
         </ul>
     </div>
 {% endfor %}

</div>-->

<!-- <div class="sidebar">
{% for collection in site.collections %}
 <div class="catbloc" id="{{ category | first | remove:' ' }}">
  
  {% assign label = collection.label %}

  <h3 class="test">{{label}}</h3>
  {% for collection in site.categories[label] %}
    <ul class="sidebar-post">

      {% for innerCollection in collection %}      
        {% for post in innerCollection %}
         {% if post.categories contains  label %}
              {% if post.categories.size  > 0 %}

                 {% assign listclass = 'category' %}
                 {% if post.categories.size == 2 %}
                    {% assign listclass = 'subcategory' %}
                 {% endif %}


                   <li class="{{listclass}} sidebar-subpost">
                        <a href="{{ post.url | prepend: site.baseurl  }}">
                          {{post.title}} ({{post.categories}})
                        </a>
                  </li>
              {% endif %}
          {% endif %}
         {% endfor %}    
      {% endfor %}
       </ul>
  {% endfor %}

    </div>
{% endfor %}
</div> -->


<!-- Reuben messing -->
<!--<div class="sidebar">
{% for collection in site.collections %}
 <div class="catbloc" id="{{ category | remove:' ' }}">
  
  {% assign label = collection.label %}

  <h3 class="test">{{label}}</h3>
  {% for collection in site.categories[label] %}
    <ul class="sidebar-post">

      {% for innerCollection in collection %}      
        {% for post in innerCollection %}
         {% if post.categories contains  label %}
              {% if post.categories.size  > 0 %}

                 {% assign listclass = 'category' %}
                 {% if post.categories.size == 2 %}
                    {% assign listclass = 'subcategory' %}
                 {% endif %}


                   <li class="{{listclass}} sidebar-subpost">
                        <a href="{{ post.url | prepend: site.baseurl  }}">
                          {{post.title}}
                        </a>
                  </li>
              {% endif %}
          {% endif %}
         {% endfor %}    
      {% endfor %}
       </ul>
  {% endfor %}

    </div>
{% endfor %}
</div>-->

<!-- James messing -->
<div class="sidebar">
{% for collection in site.collections %}

  {% if collection.label != 'posts' %}
     <div class="catbloc" id="{{ category | remove:' ' }}">
          
          <h3 class="test">{{collection.label}}</h3>
            <ul class="sidebar-post">

            {% assign sortedPosts = collection.docs| sort: 'url' %}

            {% for post in sortedPosts %}               
                   <li class="{{listclass}} sidebar-subpost">
                        <a href="{{ post.url | prepend: site.baseurl  }}">
                          {{post.title}}
                        </a>
                  </li>  
              {% endfor %}          
               </ul>
            </div>

     {% endif %}
{% endfor %}
</div>

<!--<div class="sidebar">
{% for collection in site.collections %}
 <div class="catbloc" id="{{ category | first | remove:' ' }}">
  
  {% assign label = collection.label %}

  <ul class="sidebar-list-list"> 
  {% for incollection in collection %}

    {% for inincollection in incollection %}
      
      {% for ininincollection in inincollection %}
            
          {% for inininincollection in ininincollection %}
            
            {% for ininininincollection in inininincollection %}
              {{ininininincollection.title}}
              {{ininininincollection.url}}
              {{ininininincollection.label}}
              {{ininininincollection.tags.size}}
            {% endfor %}

         {% endfor %}

      
                {% if ininincollection.categories.size  > 0 %}
                
                   <li class="{{listclass}} sidebar-postlist">

                        <a class="sidebar-post" href="{{ ininincollection.url | prepend: site.baseurl  }}">
                          {{ininincollection.title}} ({{ininincollection.categories}})
                        </a>
                  </li>
                 {% endif %}
          
     {% endfor %}

    {% endfor %}

  {% endfor %}
  </ul>

 </div>
    </div>
{% endfor %}-->

