
<div class="sidebar">
 {% for category in site.categories %}
     <div class="catbloc" id="{{ category | first | remove:' ' }}">
          <ul>
             {% for posts in category %}
               {% for post in posts %}
                 {% if post.url %}
                  <li>
                    <a href="{{ post.url | prepend: site.baseurl  }}">              
                      {{ post.title }}
                      {{ post.categories.size}}
                      {{ post.categories}}
                      {{ post.size}}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}

          {% for category in category.categories %}
            {% for posts in category %}
               {% for post in posts %}
                 {% if post.url %}
                  <li class="test1">
                    <a href="{{ post.url | prepend: site.baseurl  }}">              
                      {{ post.title }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
         </ul>
     </div>
 {% endfor %}

</div>