/* ==========================================================================
   Article
   ========================================================================== */

.c-article {

}

.c-article__main {
  max-width: $s__mainWidth; // 760px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2.5rem;
  @include fs--body;
  padding-left:15px;

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__black, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
  }

  blockquote {
    margin-left: 0;
    width: calc(100% + 5rem);
    padding: 2.5rem;
    background: $c__light-grey;
  }
}
