/* ==========================================================================
   Navigation
   ========================================================================== */



.c-navigation {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5rem;
  width: 100%;
  background: $t-theme;
  z-index: 10;
}

  &u-container {
  padding-top:5px;
  }

    .intuitive-colours {
  width:270px;
  height:8px;
  position:absolute;
  top:0;
  left:0;
  background:#019cd4;
  border-left:90px solid #f13333;
  border-right:90px solid #ffc40e;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(#000, .25), rgba(#000, 0));
  }

  &.is-fixed {
    position: fixed;
    will-change: transform;
  }
}

.c-navigation__item {
  position: relative;
  display: inline-block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @include ff--mono(500);
  @include fs--meta;
  color: $c__white;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-right: 2.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background ease-in-out 0.2s;
  }

  &:hover:after,
  &.is-active:after {
    background: $c__white;
  }

  &.c-navigation__image {
  background: url(http://www.glendesk.co.uk/images/intuitive.png) no-repeat center top;
  width:200px;
  height:65px;
  margin-right:5%;
  }
}
