.sidebar{
	
	float:left;
	margin-left:1.5rem;
	padding-top:2.5rem;
	max-width:16rem;
	list-style:none;

	h2{
		color:rgba(0,0,0,0.7)
	}

	.catbloc{

	margin-left:2rem;

		.sidebar-post{

		margin-left:1.5rem;

			.sidebar-subpost{

			left:1.5rem;

			}

		}

	}

}