.catbloc{

clear:left;
float:left;
margin-left:1.5rem;
padding-top:0.5rem;
max-width:16rem;
list-style:none;
text-transform:uppercase;
font-size:125%;

	.sidebar-post{

		text-transform:none;

		.sidebar-subpost{

		&.post{

		margin-left:1.25rem;
		list-style:none;

		}

		&.subpost{

		margin-left:2.5rem;
		list-style:none;

		}

		}

	}

}