.sidebar{
	
	float:left;
	margin-left:18px;
	padding-top:2.5rem;

	h2{
		color:rgba(0,0,0,0.7)
	}

	ul{

		list-style:none;

		li.subcategory {
			margin-left:15px;
		}
	}

	.catbloc{

	margin-left:5px;

		.sidebar-post{

		margin-left:1.5rem;

			.sidebar-subpost{

			left:1.5rem;

			}

		}

	}

}